/*
 * Author: Jerry Li
 * Date: May 17 2025
 * Version: 2.0
 */

@font-face {
    font-family: 'Source Han Sans';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2);
}

@font-face {
    font-family: 'Source Han Sans';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2);
}

body {
    margin: 0;
}

#inno {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#tools {
    width: fit-content;
    max-width: 100px;
    height: 2px;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 12px;
    background-color: #757575;
    transition: all 0.5s cubic-bezier(0, 0.8, 0, 1.08);
    z-index: 2;
}

#tools.active.expanded {
    width: 947px;
    max-width: calc(100vw - 24px);
    height: 200px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #f8f8f8;
}

#tool {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#tools.active {
    width: 366px;
    max-width: 366px;
    height: 50px;
    background-color: #f8f8f8;
}

#tool a {
    color: unset;
}

#input-field-link {
    text-decoration: none;
}

#tools.active #home,
#tools.active #input-field,
#tools.active #contact,
#tools.active #external-links,
#tools.active #little-clock {
    opacity: 1;
}

#home,
#input-field,
#contact,
#little-clock,
#external-links {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
}

#tool {
    scale: 0%;
    transition: all 0.4s cubic-bezier(0, 0.8, 0, 1.08);
}

#tools.active #tool {
    width: 366px;
    scale: 100%;
}

#tools.expanded #tool {
    width: 947px;
    height: 180px;
    margin-top: 10px;
    margin-left: 3px;
    justify-content: start;
    align-items: start;
}

#home {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-left: 7px;
    margin-right: 7px;
}

#home:hover,
#contact:hover,
#input-field:hover,
#external-links:hover,
#little-clock:hover {
    background-color: #eaeaea;
}

#logo {
    width: 25px;
    height: 25px;
    background-image: url(../images/logo-button-light.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}

#input-field {
    border-radius: 7px;
    height: 34px;
    padding: 0;
    border: solid 1px #eee;
    margin-right: 7px;
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
}

#little-clock {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    border-radius: 7px;
    padding-left: 7px;
    padding-right: 7px;
}

#clock-text {
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    opacity: 0.5;
    transition: all 0.3s;
}

#contact,
#external-links {
    width: 36px;
    height: 36px;
    margin-right: 7px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#contact span,
#external-links span {
    opacity: 0.5;
    font-weight: 250;
}

#tools.expanded #little-clock,
#tools.expanded #home,
#tools.expanded #input-field,
#tools.expanded #external-links,
#tools.expanded #contact {
    width: 160px;
    height: 160px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

#tools.expanded #clock-text {
    font-size: 50px;
}

#tools.expanded #input-field {
    width: 158px;
    height: 158px;
}

#tools.expanded .tools-caption {
    width: fit-content;
}

#home .tools-caption,
#input-field .tools-caption,
#contact .tools-caption,
#external-links .tools-caption,
#little-clock .tools-caption {
    width: 0;
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    overflow: hidden;
    opacity: 0.6;
}

@media (max-width: 768px) {
    #tools.expanded {
        height: 400px !important;
    }

    #tools.expanded #tool {
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 0;
        margin-left: 0;
    }

    #tools.expanded #input-field {
        width: 160px !important;
    }

    #tools.expanded #home,
    #tools.expanded #input-field,
    #tools.expanded #little-clock,
    #tools.expanded #contact,
    #tools.expanded #external-links {
        width: auto;
        margin: 10px;
    }
}

@media (max-width: 430px) {
    #tools.expanded #tool {
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 0;
        margin-left: 0;
    }

    #tools.expanded {
        height: 600px !important;
        margin-right: 12px;
    }
}

@media (prefers-color-scheme: dark) {
    #tools {
        background-color: #282828 !important;
    }

    #home:hover,
    #contact:hover,
    #input-field:hover,
    #external-links:hover,
    #little-clock:hover {
        background-color: #434343;
    }

    #input-field {
        border-color: #333;
    }

    #logo {
        background-image: url(../images/logo-button-dark.svg);
    }
}

#backlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eef1f4;
    z-index: -1;
}

@media (prefers-color-scheme: dark) {
    #backlight {
        background-color: #012030;
    }
}

#copyright-info {
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

#copyright-info a {
    color: unset;
    text-decoration: none;
}

.empty-box {
    height: 100vh;
}

/* live styles */

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/helvetica-neue-5/HelveticaNeueRoman.otf);
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-style: normal;
    src: url(../fonts/helvetica-neue-5/HelveticaNeueLight.otf);
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/helvetica-neue-5/HelveticaNeueBold.otf);
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 800;
    font-style: normal;
    src: url(../fonts/helvetica-neue-5/HelveticaNeueHeavy.otf);
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 900;
    font-style: normal;
    src: url(../fonts/helvetica-neue-5/HelveticaNeueBlack.otf);
}

@font-face {
    font-family: 'Digital';
    src: url(../fonts/DS-DIGII.TTF);
}

#content-unit svg {
    height: 0.7em;
}

#return {
    width: 30px;
    height: 30px;
    position: fixed;
    left: calc(5% + 90px);
    top: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.2s;
    border: solid 1px transparent;
    background-color: rgba(238, 241, 244, 0.75);
    backdrop-filter: blur(12px);
    border-color: #6C91D9;
}

#return svg {
    height: 20px;
    fill: #6C91D9;
}

#content-unit {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    overflow: hidden;
}

#text-n {
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    text-align: justify;
}

#news-entries {
    width: 100%;
    transition: all 0.2s;
}

#news-live {
    width: 100%;
    transition: all 0.2s;
    display: flex;
}

.news-entry {
    padding: 10px;
    overflow: hidden;
    transition: background-color 0.2s;
    margin-bottom: 10px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.news-entry::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 1px;
    width: calc(100% - 20px);
    background-color: #6c90d990;
}

.news-entry:hover {
    background-color: hsl(210, 21%, 85%);

}

#news-heading {
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.news-details {
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 10px;
    border: solid 1px #6C91D9;
    margin-bottom: 30px;
    padding: 10px;
}

.news-date,
.pinned {
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.5;
    font-size: 14px;
}

.pinned {
    display: flex;
    align-items: center;
}

#wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#digital-clock {
    font-family: 'Digital', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    font-size: 42vh;
}

#horloge-second,
#horloge-second-colon {
    color: #adadad;
}

#today,
#month {
    font-family: 'Manrope', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
}

@media (max-width: 430px) {
    #live-grid {
        flex-direction: column;
    }

    #news-entries,
    #news-live {
        width: 100%;
    }

    #digital-clock {
        font-size: 20vw;
    }

    #hour,
    #minute,
    #horloge-second {
        font-size: 20vw;
    }
}

@media (prefers-color-scheme: dark) {
    .news-entry:hover {
        background-color: hsla(211, 13%, 52%, 0.5);
    }

    svg {
        fill: white;
    }
}

@font-face {
    font-family: 'Monaspace Neon';
    font-style: normal;
    font-weight: 300;
    src: url('https://raw.githubusercontent.com/githubnext/monaspace/main/fonts/webfonts/MonaspaceNeon-Regular.woff2') format('woff2');
}

#calculator-wrapper {
    width: 310px;
    height: 380px;
    border-radius: 50px;
    background-color: hsl(210, 21%, 85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(50% - 155px);
    margin-top: 40px;
}

#calculator {
    display: grid;
    grid-template-columns: fit-content(1em) fit-content(1em) fit-content(1em) fit-content(1em);
    row-gap: 10px;
    column-gap: 10px;
}

#calculator button {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    background-color: hsl(210, 21%, 98%);
}

#calculator button:hover {
    background-color: hsl(210, 21%, 90%);
}

#calculator button:active {
    background-color: hsl(210, 21%, 85%);
}

#screen {
    width: 250px;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 60px;
    background-color: hsl(210, 21%, 98%);
    margin-bottom: 10px;
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    display: flex;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    #calculator-wrapper {
        background-color: hsl(210, 21%, 35%);
    }

    #calculator button,
    #screen {
        background-color: hsl(210, 21%, 45%);
    }

    #calculator button:hover {
        background-color: hsl(210, 21%, 40%);
    }

    #calculator button:active {
        background-color: hsl(210, 21%, 35%);
    }
}